body {
    font-family: 'Overlock', cursive;
    color: #6C6C6C;
    text-align: center;
}

.container table {
    margin-left: auto;
    margin-right: auto;
}

.directions {
    font-size: large;
    font-weight: 900;
}

.mini-icon {
    width: 1em;
}

