<!DOCTYPE html>
<html lang="en" ng-app=FistBump ng-csp>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
    <link rel="stylesheet" href="styles/angular-csp.css" type="screen" >
    <title>FistBump</title>
</head>

<body>

    <div class="logo" ng-controller="AuthController">
        <p>Rock on, {{username}}!</p>
        <img src="images/fistbump-128.png">
    </div>

    <div class="container" ng-controller="GiveBumpController">

        <div class="search">
            <p class="directions">Give a Fist Bump!</p>
            <p>Search for your teammate <br> & click their name to bump them.</p>
            <input type="text" ng-model="bumpee">
            <p>Give them a shoutout while you're at it!</p>
            <input type="text" ng-model="shoutout">
            <br>
            <br>
        </div>

        <div class="roster">
            <table>
                <th>Name</th><th>Count</th><th>Bump</th>
                <tr ng-repeat="player in teammates | filter: bumpee" ng-click="GiveBump(player.$id, shoutout)">
                    <td>{{player.name}}</td>
                    <td>{{player.score}}</td>
                    <td><img class="mini-icon" src="images/fistbump-128.png"></td>
                </tr>
            </table>
        </div>
    </div>

    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angularfire.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Overlock+SC|Overlock:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>

</body>
</html>